.content-box {
  padding: 0 2vw;
  &--head {
    padding: 5vh 0;
  }
  &--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .content-box--head;
  }
}

@media screen and (min-width: $desktopSize) {
  .content-box {
    &--head {
      padding: 7vh 0;
    }
  }
}