.form {
  @include horizontal-center;
  width: 80%;
  margin: map-get($margins, 2) auto;

  input, textarea {
    width: 100%;
    background-color: var(--p_first_back_color);
    color: var(--p_first_font_color);
    border: 2px solid var(--p_first_font_color);

    &::placeholder {
      color: var(--p_first_font_color);
      font-weight: lighter;
    }
    &:focus {
      outline: 1px solid var(--p_first_font_color);
    }
  }

  &--item {
    padding: map-get($margins, 1) map-get($margins, 0);
    margin: map-get($margins, 3) 0;
  }
}

@media screen and (min-width: $tabletSize){
  .form {
    width: 50%;
  }
}

@media screen and (min-width: $desktopSize) {
  .form {
    width: 40%;
  }
}