.hero-banner {
  background-color: var(--p_first_back_color);
  @include horizontal-center;
  justify-content: space-between;
  height: $maxVh;
  position: relative;

  &--author {
    @include horizontal-center;
    color: var(--p_first_font_color);
  }

  &--meta-author {
    font-weight: lighter;
    margin-top: map-get($margins,2);
    color: var(--p_first_font_color);
    &-large {
      @extend .hero-banner--meta-author;
      display: none;
    }
  }

  &--bottom-wrapper{
    padding: map-get($margins,3);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--bottom-btn {
    display: none;
  }


}

@media screen and (min-width: $tabletSize) {
  .hero-banner {
    &--bottom-btn {
      display: inline-block;
    }
  }
}

@media screen and (min-width: $desktopSize) {
  .hero-banner {

    &--meta-author {
      display: none;
      &-large {
        display: inline-block;
      }
    }


  }
}

