.landing-banner {
  position: absolute;
  background-color: var(--p_sec_back_color);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 1s;


  &--fade-out {
    @include cover-screen;
    z-index: 20;
    animation: appear 2s forwards;
    background-color: var(--p_first_back_color);
  }

  &--content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 map-get($margins, 5);
  }

  &--item {
    color: var(--p_sec_font_color);
    font-size: 2em;
    font-weight: lighter;
    animation: smoothArriving 15s infinite;
    opacity: 0;
    width: 30%;
  }

  &--footer {
    height: 20vh;
    @include flex-top-center;

    &-btn {
      font-size: 1.5em;
      font-weight: lighter;
      @include clear-btn;
      color: var(--p_sec_font_color);
      animation: clickAnim 1.5s infinite alternate-reverse;
    }
  }

}

@keyframes clickAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: .1;
  }
}

@keyframes smoothArriving {
  0% {
    opacity: 0;
    clip-path: circle(0);
  }
  70% {
    opacity: 1;
    clip-path: circle(100%);
  }
  100% {
    opacity: 0;
    clip-path: circle(0%);
  }
}

@keyframes appear {
  0% {
    clip-path: circle(0);
  }
  50% {
    clip-path: circle(100%);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media screen and (max-width: $phoneSize){
  .landing-banner {
    &--content {
      flex-direction: column;
    }
    &--item {
      font-size: 1.4em;
    }
  }
}