.portfolio {
    &-head {
        display: grid;
        place-items: center;
    }

    &-link {
        border: 2px solid;
        color: var(--test);
    }

    &-content {
        display: grid;
        place-items: center;
        border: 2px solid black;
        margin: 10px;
    }

}
