.base-title {
  color: var(--p_first_font_color);
}
.second-title {
  @extend .base-title;
  font-size: 1.7em;
  font-weight: normal ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: map-get($margins, 3) auto;
}

.grass-title {
  @extend .base-title;
  font-weight: bold;
  text-align: center;
  padding: map-get($margins, 3) 0;
}

@media screen and (min-width: $tabletSize){
  .second-title  {
    margin: map-get($margins, 5) auto;
  }

  .grass-title {
    text-align: left;
  }
}
