@import "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;

  &:focus{
    outline: none;
  }
}
ul {
  padding-inline-start: 0;
}

@media screen and (max-width: $phoneSize) {
  p {
    font-size: .8em;
  }
}