@import "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scrollbar-width : none;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
}

.site {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.site-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;

  &:focus{
    outline: none;
  }
}
ul {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: $phoneSize) {
  p {
    font-size: .8em;
  }
}